<div class="container">
    <h2>Favourite Cryptos</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Price</th>
            <th>Price Change (24h)</th>
            <th>Total Volume</th>
            <th>Market Cap</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let crypto of favouriteCryptos">
            <td>
              <div>
                <img [src]="crypto.image" alt="{{ crypto.name }}" class="mr-2" width="25" height="25">
                <span>{{ crypto.name }}</span>
              </div>
            </td>
            <td>{{ crypto.symbol | uppercase }}</td>
            <td>{{ crypto.current_price }}</td>
            <td>
              <span [ngClass]="{'text-success': crypto.price_change_percentage_24h >= 0, 'text-danger': crypto.price_change_percentage_24h < 0}">
                {{ crypto.price_change_percentage_24h }}%
              </span>
            </td>
            <td>{{ crypto.total_volume }}</td>
            <td>{{ crypto.market_cap }}</td>
            <td>
              <button class="btn btn-light" type="submit" (click)="removeFromFavorites(crypto)">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="favouriteCryptos.length === 0" class="text-center">
      <p>No favourite cryptos found.</p>
    </div>
  </div>