<div class="container">
    <div class="container">
        <h1>Track Your Cryptocurrency<br> Investments with Ease</h1>
        <p>Stay updated on the latest prices and trends in the cryptocurrency market.</p>
        <div class="buttons">
            <button class="btn btn-light" type="submit">Get Started</button>
            <button class="btn btn-light" type="submit">Learn More</button>
        </div>
    </div>
    <div class="crypto-table-container">
      <app-crypto-table></app-crypto-table>
    </div>
</div>